<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         suffix="Test.php"
         syntaxCheck="true">
    <filter>
        <blacklist>
            <directory suffix=".php">../vendor/</directory>
        </blacklist>
    </filter>
    <testsuite name="All">
        <directory suffix="Test.php">./</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>../Src</directory>
        </whitelist>
    </filter>
</phpunit>